.girisVeKayitOl {
    margin-top: 30px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #f9f9f9;
}

.girisVeKayitOl-container {
    margin: 0 auto;
    color: #333;
    line-height: 1.8;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    width: 40%;

    max-width: 800px;
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.girisVeKayitOl h2 {
    font-size: 36px;
    color: #f4a261;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.girisYapBtnDiv {
    display: flex;
    justify-content: end;
}

.girisYapBtn {
    border-radius: 8px;
    background-color: #00509e !important;
    color: #ffffff !important;
    padding: 12px 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    margin-top: 20px;
}

.girisYapBtn:hover {
    background-color: #003366 !important;
    transform: translateY(-3px);
}

.hesapOlusturDiv {
    margin-top: 30px;

}

.hesapOlustur {
    color: #f4a261;
    font-size: 18px
}

.hesapOlustur:hover {
    color: #f57c00;
    text-decoration: none;
}
@media (max-width: 1024px) {
    .girisVeKayitOl-container {
        width: 60%;
        padding: 30px;
    }
    
    .girisVeKayitOl h2 {
        font-size: 30px;
    }

    .girisYapBtn {
        font-size: 18px;
        padding: 10px 25px;
    }
}

@media (max-width: 768px) {
    .girisVeKayitOl-container {
        width: 80%;
        padding: 25px;
    }
    
    .girisVeKayitOl h2 {
        font-size: 26px;
    }

    .girisYapBtn {
        font-size: 16px;
        padding: 8px 20px;
    }

    .hesapOlustur {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .girisVeKayitOl {
        padding: 40px 15px;
    }

    .girisVeKayitOl-container {
        width: 95%;
        padding: 20px;
    }

    .girisVeKayitOl h2 {
        font-size: 22px;
    }

    .girisYapBtn {
        font-size: 14px;
        padding: 7px 15px;
    }

    .hesapOlustur {
        font-size: 14px;
    }
}
